/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 10px / 16px = 0.625 = 62.5% */
html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22;
  outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

/*HEADER*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  padding: 0 4.8rem;

  /*Because we want to make it stiky later*/
  height: 9.6rem;
  position: relative;
}

.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.logo {
  height: 2.2rem;
}

/*NAVIGATION*/
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:active,
.main-nav-link:hover {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* Mobile Nav Hidden*/
.icon-open ion-icon {
  border: none;
  font-size: 4.8rem;
  color: #333;
}

.icon-close ion-icon {
  border: none;
  font-size: 4.8rem;
  color: #333;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  z-index: 10;
}

ion-icon[name="close-outline"] {
  display: none;
}

/* Responsive Styles */
@media (max-width: 75em) {
  html {
    /* 9px / 16px = 0.5625 = 56.25% */
    font-size: 56.25%;
  }

  .main-nav-list {
    gap: 3.2rem;
  }
}

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50%; The rem in the below section is then 8px*/
    font-size: 50%;
  }

  .btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: block;
    z-index: 10;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translate(100%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    /* Hide navigation. display: none doesn't work because it allows no transition at all */
    /* 1) Hide it visualy => Also have to set overflow-x on body to hidden */
    opacity: 0;

    /* 2) Make it unaccessible to mouse or keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translate(0, 0);
  }

  .nav-open ion-icon[name="close-outline"] {
    display: block;
  }

  .nav-open ion-icon[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}
